trunk_v2-rozwoj/trunk_v2/web/WEB-INF/wsit-webserv.EodtUrlopWs.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EodtUrlopWs" targetNamespace="http://webserv/" xmlns:tns="http://webserv/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" 
 >
    <message name="getUsers"/>
    <message name="getUsersResponse"/>
    <message name="createUrlopGodziny"/>
    <message name="createUrlopGodzinyResponse"/>
    <message name="createUrlopCalyDzien"/>
    <message name="createUrlopCalyDzienResponse"/>
    <message name="getMojeWnLista"/>
    <message name="getMojeWnListaResponse"/>
    <message name="hello"/>
    <message name="helloResponse"/>
    <portType name="EodtUrlopWs">
        <operation name="getUsers">
            <input message="tns:getUsers"/>
            <output message="tns:getUsersResponse"/>
        </operation>
        <operation name="createUrlopGodziny">
            <input message="tns:createUrlopGodziny"/>
            <output message="tns:createUrlopGodzinyResponse"/>
        </operation>
        <operation name="createUrlopCalyDzien">
            <input message="tns:createUrlopCalyDzien"/>
            <output message="tns:createUrlopCalyDzienResponse"/>
        </operation>
        <operation name="getMojeWnLista">
            <input message="tns:getMojeWnLista"/>
            <output message="tns:getMojeWnListaResponse"/>
        </operation>
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
    </portType>
    <binding name="EodtUrlopWsPortBinding" type="tns:EodtUrlopWs">
        <wsp:PolicyReference URI="#EodtUrlopWsPortBindingPolicy"/>
        <operation name="getUsers">
            <input/>
            <output/>
        </operation>
        <operation name="createUrlopGodziny">
            <input/>
            <output/>
        </operation>
        <operation name="createUrlopCalyDzien">
            <input/>
            <output/>
        </operation>
        <operation name="getMojeWnLista">
            <input/>
            <output/>
        </operation>
        <operation name="hello">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="EodtUrlopWs">
        <port name="EodtUrlopWsPort" binding="tns:EodtUrlopWsPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="EodtUrlopWsPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All/>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
