trunk_v2-rozwoj/trunk_v2/web/WEB-INF/wsit-webserv.eodtUrlop.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="eodtUrlop" targetNamespace="http://webserv/" xmlns:tns="http://webserv/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" 
 >
    <message name="hello"/>
    <message name="helloResponse"/>
    <message name="testUrlop"/>
    <message name="testUrlopResponse"/>
    <message name="getUrObcM"/>
    <message name="getUrObcMResponse"/>
    <message name="setUrObcM"/>
    <message name="setUrObcMResponse"/>
    <portType name="eodtUrlop">
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
        <operation name="testUrlop">
            <input message="tns:testUrlop"/>
            <output message="tns:testUrlopResponse"/>
        </operation>
        <operation name="getUrObcM">
            <input message="tns:getUrObcM"/>
            <output message="tns:getUrObcMResponse"/>
        </operation>
        <operation name="setUrObcM">
            <input message="tns:setUrObcM"/>
            <output message="tns:setUrObcMResponse"/>
        </operation>
    </portType>
    <binding name="eodtUrlopPortBinding" type="tns:eodtUrlop">
        <wsp:PolicyReference URI="#eodtUrlopPortBindingPolicy"/>
        <operation name="hello">
            <input/>
            <output/>
        </operation>
        <operation name="testUrlop">
            <input/>
            <output/>
        </operation>
        <operation name="getUrObcM">
            <input/>
            <output/>
        </operation>
        <operation name="setUrObcM">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="eodtUrlop">
        <port name="eodtUrlopPort" binding="tns:eodtUrlopPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="eodtUrlopPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsoma:OptimizedMimeSerialization/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
