eodtWSC/xml-resources/web-service-references/RepozDokWs/wsdl/localhost_8080/eodt_j8/RepozDokWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://webserv/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webserv/">

<xs:element name="drzPF" type="tns:drzPF" />

<xs:element name="getDrzewo" type="tns:getDrzewo" />

<xs:element name="getDrzewoResponse" type="tns:getDrzewoResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:complexType name="getDrzewo">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getDrzewoResponse">
<xs:sequence>
<xs:element name="return" type="tns:drzPF" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="drzPF" final="extension restriction">
<xs:sequence>
<xs:element name="fullPath" type="xs:string" minOccurs="0" />
<xs:element name="shortName" type="xs:string" minOccurs="0" />
<xs:element name="chidren" type="tns:drzPF" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="parent" type="tns:drzPF" minOccurs="0" />
<xs:element name="type" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>