eodtWSC/src/META-INF/wsdl/localhost_8080/eodt_j8/EodtUrlopWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://webserv/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webserv/">

<xs:element name="createUrlopCalyDzien" type="tns:createUrlopCalyDzien" />

<xs:element name="createUrlopCalyDzienResponse" type="tns:createUrlopCalyDzienResponse" />

<xs:element name="createUrlopGodziny" type="tns:createUrlopGodziny" />

<xs:element name="createUrlopGodzinyResponse" type="tns:createUrlopGodzinyResponse" />

<xs:element name="getMojeWnLista" type="tns:getMojeWnLista" />

<xs:element name="getMojeWnListaResponse" type="tns:getMojeWnListaResponse" />

<xs:element name="getUsers" type="tns:getUsers" />

<xs:element name="getUsersResponse" type="tns:getUsersResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:element name="wnUrlop" type="tns:wnUrlop" />

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUrlopGodziny">
<xs:sequence>
<xs:element name="userEmail" type="xs:string" minOccurs="0" />
<xs:element name="login" type="xs:string" minOccurs="0" />
<xs:element name="dataUrlopu" type="xs:dateTime" minOccurs="0" />
<xs:element name="godzOd" type="xs:dateTime" minOccurs="0" />
<xs:element name="godzDo" type="xs:dateTime" minOccurs="0" />
<xs:element name="idRodziaj" type="xs:string" minOccurs="0" />
<xs:element name="infoDod" type="xs:string" minOccurs="0" />
<xs:element name="pracodawca" type="xs:boolean" />
<xs:element name="kwota" type="xs:decimal" minOccurs="0" />
<xs:element name="miejsce" type="xs:string" minOccurs="0" />
<xs:element name="cel" type="xs:string" minOccurs="0" />
<xs:element name="srodekLok" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUrlopGodzinyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUrlopCalyDzien">
<xs:sequence>
<xs:element name="userEmail" type="xs:string" minOccurs="0" />
<xs:element name="login" type="xs:string" minOccurs="0" />
<xs:element name="dataOd" type="xs:dateTime" minOccurs="0" />
<xs:element name="dataDo" type="xs:dateTime" minOccurs="0" />
<xs:element name="idRodzaj" type="xs:string" minOccurs="0" />
<xs:element name="infoDod" type="xs:string" minOccurs="0" />
<xs:element name="pracodawca" type="xs:boolean" />
<xs:element name="kwota" type="xs:decimal" minOccurs="0" />
<xs:element name="miejsce" type="xs:string" minOccurs="0" />
<xs:element name="cel" type="xs:string" minOccurs="0" />
<xs:element name="srodekLok" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUrlopCalyDzienResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsers">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMojeWnLista">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMojeWnListaResponse">
<xs:sequence>
<xs:element name="return" type="tns:wnUrlop" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="wnUrlop">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="dataOd" type="xs:dateTime" minOccurs="0" />
<xs:element name="dataDo" type="xs:dateTime" minOccurs="0" />
<xs:element name="nrWniosku" type="xs:string" minOccurs="0" />
<xs:element name="dataWprowadzenia" type="xs:dateTime" minOccurs="0" />
<xs:element name="dataDoStr" type="xs:string" minOccurs="0" />
<xs:element name="dataOdStr" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>