eodtWSC/src/META-INF/wsdl/localhost_8080/eodt_j8/WyslijMailWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://webserv/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webserv/">

<xs:element name="bezZalacznika" type="tns:bezZalacznika" />

<xs:element name="bezZalacznikaResponse" type="tns:bezZalacznikaResponse" />

<xs:element name="zZalaczZserwera" type="tns:zZalaczZserwera" />

<xs:element name="zZalaczZserweraResponse" type="tns:zZalaczZserweraResponse" />

<xs:complexType name="zZalaczZserwera">
<xs:sequence>
<xs:element name="adresat" type="xs:string" minOccurs="0" />
<xs:element name="temat" type="xs:string" minOccurs="0" />
<xs:element name="tresc" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="zZalaczZserweraResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="bezZalacznika">
<xs:sequence>
<xs:element name="adresat" type="xs:string" minOccurs="0" />
<xs:element name="temat" type="xs:string" minOccurs="0" />
<xs:element name="tresc" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="bezZalacznikaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>