eodtWSC/xml-resources/web-service-references/EodtUrlopWs/wsdl/localhost_8080/eodt_j8/EodtUrlopWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://webserv/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webserv/">

<xs:element name="createUrlop" type="tns:createUrlop" />

<xs:element name="createUrlopResponse" type="tns:createUrlopResponse" />

<xs:element name="getUsers" type="tns:getUsers" />

<xs:element name="getUsersResponse" type="tns:getUsersResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUrlop">
<xs:sequence>
<xs:element name="userEmail" type="xs:string" minOccurs="0" />
<xs:element name="login" type="xs:string" minOccurs="0" />
<xs:element name="dataOd" type="xs:dateTime" minOccurs="0" />
<xs:element name="dataDo" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUrlopResponse">
<xs:sequence>
<xs:element name="return" type="tns:hashMap" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hashMap">
<xs:complexContent>
<xs:extension base="tns:abstractMap">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractMap" abstract="true">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getUsers">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>