eodtWSC/xml-resources/web-service-references/EodtUrlopWs/wsdl/localhost_8080/eodt_j8/EodtUrlopWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webserv/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webserv/" name="EodtUrlopWs">
<types>
<xsd:schema>
<xsd:import namespace="http://webserv/" schemaLocation="http://localhost:8080/eodt_j8/EodtUrlopWs?xsd=1" />
</xsd:schema>
</types>
<message name="getMojeWnLista">
<part name="parameters" element="tns:getMojeWnLista" />
</message>
<message name="getMojeWnListaResponse">
<part name="parameters" element="tns:getMojeWnListaResponse" />
</message>
<message name="createUrlopGodziny">
<part name="parameters" element="tns:createUrlopGodziny" />
</message>
<message name="createUrlopGodzinyResponse">
<part name="parameters" element="tns:createUrlopGodzinyResponse" />
</message>
<message name="createUrlopCalyDzien">
<part name="parameters" element="tns:createUrlopCalyDzien" />
</message>
<message name="createUrlopCalyDzienResponse">
<part name="parameters" element="tns:createUrlopCalyDzienResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers" />
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse" />
</message>
<portType name="EodtUrlopWs">
<operation name="getMojeWnLista">
<input wsam:Action="http://webserv/EodtUrlopWs/getMojeWnListaRequest" message="tns:getMojeWnLista" />
<output wsam:Action="http://webserv/EodtUrlopWs/getMojeWnListaResponse" message="tns:getMojeWnListaResponse" />
</operation>
<operation name="createUrlopGodziny">
<input wsam:Action="http://webserv/EodtUrlopWs/createUrlopGodzinyRequest" message="tns:createUrlopGodziny" />
<output wsam:Action="http://webserv/EodtUrlopWs/createUrlopGodzinyResponse" message="tns:createUrlopGodzinyResponse" />
</operation>
<operation name="createUrlopCalyDzien">
<input wsam:Action="http://webserv/EodtUrlopWs/createUrlopCalyDzienRequest" message="tns:createUrlopCalyDzien" />
<output wsam:Action="http://webserv/EodtUrlopWs/createUrlopCalyDzienResponse" message="tns:createUrlopCalyDzienResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://webserv/EodtUrlopWs/helloRequest" message="tns:hello" />
<output wsam:Action="http://webserv/EodtUrlopWs/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="getUsers">
<input wsam:Action="http://webserv/EodtUrlopWs/getUsersRequest" message="tns:getUsers" />
<output wsam:Action="http://webserv/EodtUrlopWs/getUsersResponse" message="tns:getUsersResponse" />
</operation>
</portType>
<binding name="EodtUrlopWsPortBinding" type="tns:EodtUrlopWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getMojeWnLista">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createUrlopGodziny">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createUrlopCalyDzien">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="EodtUrlopWs">
<port name="EodtUrlopWsPort" binding="tns:EodtUrlopWsPortBinding">
<soap:address location="http://localhost:8080/eodt_j8/EodtUrlopWs" />
</port>
</service>
</definitions>